<a href="https://colab.research.google.com/github/NGHZero/PFP191/blob/main/Lab3a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
for i in range(1, 6):
  for j in range(1,i+1):
    print(j, end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
def sum_numbers(n):

    n = int(input("Enter number: "))
    return (n * (n + 1)) // 2


print( "Sum is:", sum_numbers(n))

Enter number: 10
Sum is: 55

In [27]:
numbers = [75, 150, 145, 5848, 648, 11, 542, 948]

for num in numbers:
      if num % 5 == 0:

        if num > 500:
           break
        elif num > 150:
            continue
        else:
            print(num)

75
150
145

In [30]:
def count_digits(n):
    n = int(input("Enter number: "))
    return len(str(abs(n)))

print("Total number of digits is: ", count_digits(n))

Enter number: 13847
Total number of digits is:  5

In [34]:
list1([10,20,30,40,50])

def list1(lst):
    for i in reversed(lst):
        print(i)

50
40
30
20
10

In [40]:
def string(s):

    s = input(" Original string is: ")

    length = len(s)

    middle = length // 2
    if length % 2 == 0:
        return s[middle - 2:middle + 2]
    else:
        return s[middle - 1:middle + 2]

print( " Middle four chars are: ", string("s"))

 Original string is: HoSungHo
 Middle four chars are:  Sung

In [50]:
def append_string_middle(s1, s2):

    s1 = input("s1 =")

    s2 = input("s2 =")

    length = len(s1)
    middle = length // 2
    return s1[:middle] + s2 + s1[middle:]

print(str(append_string_middle(s1, s2)))

s1 =Ault
s2 =Kelly
AuKellylt

In [58]:
def string(s1, s2):

    def get_parts(s):
        length = len(s)
        middle_index = length // 2
        return s[0], s[middle_index], s[-1]

    s1_first, s1_middle, s1_last = get_parts(s1)
    s2_first, s2_middle, s2_last = get_parts(s2)

    mixed_string = s1_first + s2_first + s1_middle + s2_middle + s1_last + s2_last

    return mixed_string

s1 = input("s1 = ")
s2 = input("s2 = ")

result = string(s1, s2)
print(result)

s1 = America
s2 = Japan
AJrpan

In [62]:
str1 = "PyNaTivE"
lower = []
upper = []
for char in str1:
    if char.islower():

        lower.append(char)
    else:

        upper.append(char)

sorted_str = ''.join(lower + upper)
print(sorted_str)

yaivPNTE

In [68]:
def find_digits_chars_symbols(sample_str):
    char_count = 0
    digit_count = 0
    symbol_count = 0
    for char in sample_str:
        if char.isalpha():
            char_count += 1
        elif char.isdigit():
            digit_count += 1

        else:
            symbol_count += 1

    print("Chars =", char_count, "Digits =", digit_count, "Symbol =", symbol_count)

sample_str = "P@yn2at&dfsdfd&^^^&^^&^#i5ve"
print( "Input string = " , sample_str)
print("total counts of chars, Digits, and symbols")

find_digits_chars_symbols(sample_str)

Input string =  P@yn2at&dfsdfd&^^^&^^&^#i5ve
total counts of chars, Digits, and symbols
Chars = 14 Digits = 2 Symbol = 12

In [70]:
def remove_non_integers(s):
    result = ""
    for char in s:
        if char.isdigit():
            result += char
    return result
str1 = 'I am 25 years and 10 months old '

print(remove_non_integers(str1))

2510

In [74]:
def remove_punctuation(str1):
    result = ""
    for char in str1:
        if char.isidentifier():
            result += char
    return result

str1 = "/*Jon is @developer & musician"
print(remove_punctuation(str1))

Jonisdevelopermusician